*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 50px;
    background-color: #eee;
}
 header ul li {
    display: inline;
 }
header ul li a {
    padding: 10px;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    margin: 0 auto;
    /* border: 1px solid; */
    width: 90%;
}
nav h1 {
    color: #2e6ec2;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

