@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;500;600;700&display=swap');

:root {
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,rgba(255,255,255,.15),rgba(255,255,255,0));
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  color: #505050;
  font-size: 34px;
  font-weight: 700;
};

h2{
  font-weight: 500;
  // color: red;
  margin-top: 20px;
  color: #777;
};

p{
  font-family: var(--bs-font-sans-serif);
  font-size: 15px;
  display: block;
  font-style: normal;
  font-weight: 400;
  color: #444;
  margin: 10px 5px 50px 5px;
  text-indent: 20px;
  // border: 1px solid red;
};

.lista{
  margin-left: 50px;  
  font-size: 15px;
  .strong2{
    color: #555;
  }
  .em{
    font-style: italic;
  }
}

img{
  width: 90%;
}

figure{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .area-img-destaque-conteudo{
    // border: 3px solid blue;
    text-align: center;
    margin-bottom: 50px;
    figcaption{
      color: #888;
      font-style: italic;
      font-size: 12px;
    };
  }    
}

.texto-completo{
  .topicos-deste-artigo{
    color: #0e4b9b;
    font-size: 14px;
    li{
      a{
        text-decoration: none;
        color: inherit;
      }
    }
}
}